




.ant-input-group {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    display: flex; /* Replace table layout with flexbox */
    width: 100%;
    flex-wrap: nowrap; /* Keep the elements in a single row */
  }