<form nz-form [formGroup]="validateForm">
  <div class="card card-padding">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div
        nz-col
        [nzSpan]="24"
        [nzXs]="{ span: 24 }"
        [nzSm]="{ span: 24 }"
        [nzMd]="{ span: 4 }"
        [nzLg]="{ span: 4 }"
      >
        <label>Group Name<span style="color: red">*</span></label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Group required!">
            <nz-input-group>
              <nz-select
                formControlName="GROUP_NAME"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Select a group"
              >
                <nz-option *ngFor="let item of groupList" [nzLabel]="item.NAME" [nzValue]="item.CODE"></nz-option>
              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>


      <div
        nz-col
        [nzSpan]="24"
        [nzXs]="{ span: 24 }"
        [nzSm]="{ span: 24 }"
        [nzMd]="{ span: 4 }"
        [nzLg]="{ span: 4 }"
      >
        <label>Class Name<span style="color: red">*</span></label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Class required!">
            <nz-input-group>
              <nz-select
                formControlName="CLASS_NAME"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Select a class"
                (ngModelChange)="onSelectedClass($event)"
              >
              <nz-option *ngFor="let item of classList" [nzLabel]="item.NAME" [nzValue]="item.CODE"></nz-option>

              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>


      <div
        nz-col
        [nzSpan]="24"
        [nzXs]="{ span: 24 }"
        [nzSm]="{ span: 24 }"
        [nzMd]="{ span: 4 }"
        [nzLg]="{ span: 4 }"
        *ngIf="isSectionVisible == true">
        <label>Section Name<span style="color: red">*</span></label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Section required!">
            <nz-input-group>
              <nz-select
                formControlName="SECTION_NAME"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Select a section"
              >
              <nz-option *ngFor="let item of sectionlist" [nzLabel]="item.NAME" [nzValue]="item.CODE"></nz-option>

              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>



      <div
        nz-col
        [nzSpan]="24"
        [nzXs]="{ span: 24 }"
        [nzSm]="{ span: 24 }"
        [nzMd]="{ span: 4 }"
        [nzLg]="{ span: 4 }"
        *ngIf="isVersionVisible == true">
        <label>Version Name<span style="color: red">*</span></label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Version required!">
            <nz-input-group>
              <nz-select
                formControlName="VERSION_NAME"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Select a version"
              >
              <nz-option *ngFor="let item of versionList" [nzLabel]="item.NAME" [nzValue]="item.CODE"></nz-option>

              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>


      <div
        nz-col
        [nzSpan]="24"
        [nzXs]="{ span: 24 }"
        [nzSm]="{ span: 24 }"
        [nzMd]="{ span: 4 }"
        [nzLg]="{ span: 4 }"
      >
        <label>Start Session Name<span style="color: red">*</span></label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Start Session required!">
            <nz-input-group>
              <nz-select
                formControlName="START_SESSION_NAME"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Select a session"
              >
              <nz-option *ngFor="let item of sessionList" [nzLabel]="item.NAME" [nzValue]="item.CODE"></nz-option>

              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>


      <div
        nz-col
        [nzSpan]="24"
        [nzXs]="{ span: 24 }"
        [nzSm]="{ span: 24 }"
        [nzMd]="{ span: 4 }"
        [nzLg]="{ span: 4 }"
      >
        <label>Current Session Name<span style="color: red">*</span></label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Cur session required!">
            <nz-input-group>
              <nz-select
                formControlName="CURRENT_SESSION_NAME"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Select a session"
              >
              <nz-option *ngFor="let item of sessionList" [nzLabel]="item.NAME" [nzValue]="item.CODE"></nz-option>

              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>



      <div
        nz-col
        [nzSpan]="24"
        [nzXs]="{ span: 24 }"
        [nzSm]="{ span: 24 }"
        [nzMd]="{ span: 4 }"
        [nzLg]="{ span: 4 }"
        *ngIf="isYearVisible == true">
        <label>Year Name<span style="color: red">*</span></label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Year required!">
            <nz-input-group>
              <nz-select
                formControlName="YEAR_NAME"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Select a year"
              >
              <nz-option *ngFor="let item of yearList" [nzLabel]="item.NAME" [nzValue]="item.CODE"></nz-option>

              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>


      <div
        nz-col
        [nzSpan]="24"
        [nzXs]="{ span: 24 }"
        [nzSm]="{ span: 24 }"
        [nzMd]="{ span: 4 }"
        [nzLg]="{ span: 4 }"
        *ngIf="isSemesterVisible == true">
        <label>Semester Name<span style="color: red">*</span></label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Semester required!">
            <nz-input-group>
              <nz-select
                formControlName="SEMESTER_NAME"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Select a semester"
              >
              <nz-option *ngFor="let item of semesterList" [nzLabel]="item.NAME" [nzValue]="item.CODE"></nz-option>

              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div
        nz-col
        [nzSpan]="24"
        [nzXs]="{ span: 24 }"
        [nzSm]="{ span: 24 }"
        [nzMd]="{ span: 4 }"
        [nzLg]="{ span: 4 }"
      >
        <label>Shift Name<span style="color: red">*</span></label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Shift required!">
            <nz-input-group>
              <nz-select
                formControlName="SHIFT_NAME"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Select a shift"
              >
              <nz-option *ngFor="let item of shiftlist" [nzLabel]="item.NAME" [nzValue]="item.CODE"></nz-option>

              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label >Search</label>
        <div>
          <input
            nz-input
            placeholder="Search here"
            nzSize="default"
            (keyup)="onSearchInputChange($event)"
          />
        </div>
      </div>
      <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <br>
        <div class="button-right">
          <div>
            <nz-form-item>
              <nz-form-control nzErrorTip="Excel required!">
                <nz-input-group>
                  <input
                     formControlName="EXCEL_FILE"
                    nz-input
                    type="file"
                    (change)="onFileChange($event)"
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

          </div>
        </div>
      </div> -->
      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
        <br>
        <input
        type="file"
        (change)="onFileChange($event)"
        style="display: none"
        #fileInput
      />
      <a>
      <button class="button-search" nz-button  nzSize="default" nzType="primary"
            (click)="fileInput.click()">Uplaod</button>
      </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <br>
        <div class="file-details" *ngIf="selectedFile">
          <div style="margin-left: 10px" class="file-info">
            {{ selectedFile.name }}
          </div>

          <div
            class="close-icon"
            (click)="removeFile()"
          >
            <a
              class="btn btn-icon btn-active-color-primary btn-sm me-1"
              matTooltip="Remove"
              matTooltipPosition="above"
            >
              <span
                [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"
                class="svg-icon svg-icon-3"
              ></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
        <br>
        <a>
        <button class="button-view" nz-button  nzSize="default" nzType="primary"
            (click)="downloadExcelFormat()" [nzLoading]="isDownload">Download Excel Format</button>
      </a>
      </div>
    </div>

<div>
  <nz-table #basicTable nzTableLayout="fixed" [nzData]="excelData"
  nzSize="small" nzShowPagination="false" nzBordered  nzResponsive>
    <thead>
      <tr>
        <th style="width: 50px;">No</th>
        <th>Student Name</th>
        <th style="width: 250px;">Father's Name</th>
        <th style="width: 100px;">Class Roll</th>
        <th style="width: 200px;">SMS Mobile Number</th>
        <th style="width: 150px;">Admission Date</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let row of excelData; let i=index" >
        <td>{{i+1}}</td>
        <td>
          {{excelData[i].STUDENT_NAME}}
        </td>
        <td>
          {{excelData[i].FATHERS_NAME}}
        </td>
        <td>
          {{excelData[i].CLASS_ROLL}}
        </td>
        <td>
          {{excelData[i].SMS_MOBILE_NUM}}
        </td>
        <td>
          {{excelData[i].ADMISSION_DATE}}
        </td>

      </tr>
    </tbody>
  </nz-table>
</div>
<div nz-row  [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" style="margin-top: 30px;">
  <div nz-col [nzSpan]="4" [nzXs]="{ span: 4 }" [nzSm]="{ span: 4 }" [nzMd]="{ span: 4 }" [nzLg]="{ span: 4 }">
    <button type="button" class="modal-button-save" nz-button nzType="primary" (click)="prepareSaveBulkEntry()"
    [nzLoading]="isSaveLoading">Save</button>
  </div>
</div>
  </div>
</form>
