<form nz-form [formGroup]="ValidateForm">
    <div nz-row  [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col [nzSpan]="12" [nzXs]="{ span: 12 }" [nzSm]="{ span: 12 }" [nzMd]="{ span: 12 }" [nzLg]="{ span: 12 }">
        <label >Period Name<span style="color: red">*</span></label>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please enter period name!">
            <nz-input-group nzSize="default" >
              <input formControlName="PERIOD_NAME" nz-input placeholder="Enter period name" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12" [nzXs]="{ span: 12 }" [nzSm]="{ span: 12 }" [nzMd]="{ span: 12 }" [nzLg]="{ span: 12 }">
        <label
          >Start Time<span style="color: red">*</span></label
        >
        <nz-form-item>
          <nz-form-control nzErrorTip="Please select start time!">
            <nz-input-group nzSize="default">
                <nz-time-picker
                formControlName="START_TIME"
                nzUse12Hours="true"
                (ngModelChange)="starttime($event)"
                nzFormat="h:mm a"
                (click)="clearEndTime()"
              ></nz-time-picker>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
  </div>
  <div nz-row  [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div nz-col [nzSpan]="12" [nzXs]="{ span: 12 }" [nzSm]="{ span: 12 }" [nzMd]="{ span: 12 }" [nzLg]="{ span: 12 }">
        <label
          >End Time<span style="color: red">*</span></label
        >
        <nz-form-item>
          <nz-form-control nzErrorTip="Please select end time!">
            <nz-input-group nzSize="default">
                <nz-time-picker
                formControlName="END_TIME"
                nzUse12Hours="true"
                nzFormat="h:mm a"
                (ngModelChange)="endtime($event)"
              ></nz-time-picker>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12" [nzXs]="{ span: 12 }" [nzSm]="{ span: 12 }" [nzMd]="{ span: 12 }" [nzLg]="{ span: 12 }">
        <label
          >Duration<span style="color: red">*</span></label
        >
        <nz-form-item>
          <nz-form-control nzErrorTip="Please enter duration!">
            <nz-input-group nzSize="default">
                <input formControlName="DURATION"
                 nz-input placeholder="Enter duration"
                 readonly="true" type="text"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  
    <div nz-row  [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div nz-col [nzSpan]="6" [nzXs]="{ span: 6 }" [nzSm]="{ span: 6 }" [nzMd]="{ span: 6 }" [nzLg]="{ span: 6 }">
        <button class="modal-button-save" nz-button nzType="primary" (click)="savePeriod()"
        [nzLoading]="isSaveLoading">{{btnUpdateSave}}</button>
      </div>
    </div>
  </form>
  
